@media screen and (min-width: 769px) {
    .site-header {
        width: 100%;
    }
    .container {
        width: 90%;
    }
    .lessons {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .site-header {
        width: 100%;
    }
    .container {
        width: 90%;
    }
    .lessons {
        width: 100%;
    }
    h2 {
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    h2 {
        margin-bottom: 3rem;
    }
    .row {
        flex-direction: column;
        gap: 3rem;
    }
    .lessons .col {
        width: 100%;
        margin: 0 auto;       
    }
    .steps .col {
        width: 100%;
        margin: 0 auto; 
    }
    .why-us .col-left {
        width: 100%;
    }
    .why-us .col-right {
        width: 100%;
    }
}