@media screen and (min-width: 769px) {
    .site-header, .lessons {
        width: 100%;
    }
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .site-header, .lessons {
        width: 100%;
    }
    .container {
        width: 90%;
    }
    h2 {
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .steps {
        margin-bottom: 0;
    }
    .why-us {
        padding: 3rem 0;
        margin-bottom: 0;
        background-color: rgb(58, 58, 58);
    }
    h2 {
        margin-bottom: 3rem;
    }
    .row {
        flex-direction: column;
        gap: 3rem;
    }
    .lessons .col, .steps .col, .why-us .col-left, .why-us .col-right {
        width: 100%;
    }
}